h1 {
  color: LightBlue;
}
.container {
  background-color: Lavender;
}
body {
  background-color: MidnightBlue;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  background-image: url("https://www.maxpixel.net/static/photo/1x/Texture-Blue-Fabric-Fabric-899720.jpg");
}
.navbar li{
  display: inline-block;
}
