h1 {
  color: LightBlue;
}

.container {
  background-color: Lavender;
}

body {
  background-color: MidnightBlue;
}

.navbar li {
  background-image: url("https://www.maxpixel.net/static/photo/1x/Background-Texture-Pattern-Backgrounds-Layout-Blue-2592833.jpg");
  display: inline;
}

.login {
  float:right;
}

.login a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #191970;
  position: relative;
}

.login a:active {
  top: 5px;
}

.main img {
  height: 450px;
  width: 600px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
